*, h1, h2, h3, h4, h5, h6, p, span, li, a{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
}

.bg-body{
  /* background: url("../src/assets/page-bg.png"); */
  background-color: #f1f4fc;
  background-size: auto;
  background-repeat: repeat-y;
}
.input-wrap{
  box-shadow: 0px 5px 15px -3px rgb(0 0 255 / 12%), 0px 4px 6px -2px rgb(0 0 255 / 6%);
}
